# Ignore installed npm modules
node_modules/

# Ignore folders from source code editors
# .vscode
.idea

# Ignore eleventy output when doing manual tests
_site/
dist
.11ty-vite
package-lock.json
pnpm-lock.yaml

# Ignore test files
.cache

# Mac os file system
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk