---
permalink: /public/robots.txt
eleventyExcludeFromCollections: true
---

User-agent: *
Allow: /
Disallow: /400.html
Disallow: /401.html
Disallow: /403.html
Disallow: /404.html
Sitemap: {{ settings.url }}/sitemap.xml
